<h1>New Place</h1>

<%= form_with :model => @place do |form| %>
<%= form.hidden_field "user_id" %>
  <p>
    <%= form.label "name" %>
    <%= form.text_field "name" %>
  </p>
  <p>
    <%= form.submit %>
  </p>
  <p>
  <a href="/places" class="btn btn-secondary btn-sm">Back</a>
  </p>
<% end %>